.background{
    height: 100vh;
    background-image: url(https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/master/week3/banner.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    .background_text{
        color: $primary_color;
        font-weight: bold;
        text-align: right;
        position: absolute;
        top: 60%;
        left: 50%;
        p{
            font-size: 36px;
        }
        h1{
            font-size: 64px;
        }
    }
}
@media (max-width:768px){
    .background{
        height: 100vh;
        .background_text{
            top: 60%;
            left: 40%;
            p{
                font-size: 20px;
            }
            h1{
                font-size: 48px;
            }
        }
    }
}
@media (max-width:376px){
    .background{
        .background_text{
            left: 15%;
            p{
                font-size: 16px;
            }
            h1{
                font-size: 32px;
            }
        }
    }
}
/*-------------------------------------------------------*/
.text_form1{
    font-size: 48px;
    color: $primary_color;
    font-weight: bold;
    text-align: center;
}

.content{
    background-color: #AA06010D;
    ul{
        display: flex;
        justify-content: center;
        li{
            width: 255px;
            margin-right: 15px;
            margin-left: 15px;
            margin-top: 48px;
            margin-bottom: 80px;
            h3{
                font-size: 24px;
                color: $primary_color;
                text-align: center;
                font-weight: bold;
            }
            p{
                font-size: 16px;  
            }
        }
    }
}
@media (max-width:768px){
    .content ul{
        flex-wrap: wrap;
        li{
            margin-right: 52.5px;
            margin-left: 52.5px;
        }
    }
}
@media (max-width:376px){
    .content{
        h2{
            font-size: 24px;
            padding-bottom: 28px;
        }
        ul li{
            padding-bottom: 24px;
            margin: 0px;
        }
    }
    
}

.content_logo{
    width: 83px;
    height: 83px;
    margin: 0 auto;
    margin-bottom: 24px;
    display: flex;
    justify-content: center;
}

/*-------------------------------------------------------*/

.classic{
    width: 980px;
    margin: 0 auto;
    ul li{
        display: flex;
    }
}
.classic_item{
    display: flex;
    align-items: center;
    margin-right: 30px;
    margin-left: 30px;
    p{
        font-size: 48px;
        font-weight: bold;
        color: $primary_color;
    }
}
.classic_size{
    width: 635px;
}
@media (max-width:768px){
    .location_rwd{
        flex-direction: row-reverse;
        justify-content: flex-end;
    }
    .classic{
        width: 690px;
        h2{
            padding-top: 40px;
            padding-bottom: 32px;
        }
    }
    .classic_item{
        p{
            font-size: 28px;
        }
    }
    .classic_size{
        width: 390px;
    }
}
@media (max-width:376px){
    .classic{
        width: 100%;
        h2{
            font-size: 20px;
            padding-top: 32px;
            padding-bottom: 20px;
        }
        ul li{
            padding-bottom: 8px;
        }
        .pb10{
            padding-bottom: 32px;
        }
        ul li img{
            position: relative;
        }
        .classic_item{
            position: absolute;
            margin: 50px 100px;
        }
    }
    .location_rwd{
        img{
            position: relative;
        }
        .classic_item{
            position: absolute;
            z-index:2;   
        }
    }
}

/*-------------------------------------------------------*/

.Joint_name{
    height: 705px;
    background-image: url(https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/master/week3/bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    h2{
        font-size: 48px;
        color: $white_color;
        font-weight: bold;
        text-align: center;
        padding-bottom: 40px;
    }
}
@media (max-width:768px){
    .Joint_name{
        height: 452px;
        h2{
            padding-top: 40px;
            padding-bottom: 32px;
            font-size: 32px;
        }
    }
}
@media (max-width:376px){
    .Joint_name{
        height: 719px;
        h2{
            padding-top: 32px;
            padding-bottom: 20px;
            font-size: 20px;
        }
    }
}

.Joint_name_item ul{
    display: flex;
    justify-content: center;
    li{
        position: relative;
        img{
            width: 540px;
            height: 455px;
            position: relative;
            z-index:1;
        }
        p{
            font-size: 72px;
            color: $primary_color;
            font-weight: bold;
            position: absolute;
            top: 40%;
            left: 25%;
            z-index:3;
        }
    }
}
@media (max-width:768px){
    .Joint_name_item ul li{
        img{
        width: 330px;
        height: 278px;}
        p{
        font-size: 32px;}
    }
}
@media (max-width:376px){
    .Joint_name_item ul{
        flex-wrap: wrap;
        p{
            padding-left: 25px;
        }
        li{
            padding-left: 15px;
            padding-right: 15px;
            padding-bottom: 16px;
            img{
                width: 345px;
                height: 291px;
            }
        }
    }
    
}

.mask{
    width: 540px;
    height: 455px;
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(235, 235, 235, 0.5);
    z-index:2;
}
@media (max-width:768px){
    .mask{
        width: 330px;
        height: 278px;
    }
}
@media (max-width:376px){
    .mask{
        width: 345px;
        height: 291px;
        left: 15px;
    }
}

/*-------------------------------------------------------*/
.recommend ul{
    display: flex;
    justify-content: center;
    li{
        width: 255px;
        height: 460px;
        margin-left: 15px;
        margin-right: 15px;
        border: 1px solid #DEE2E6;
    }
}

.recommend_content{
    height: 200px;
    padding: 16px;
}
.recommend_name{
    font-size: 14px;
    color: #212529;
    padding-bottom: 8px;
}
.recommend_evaluation{
    font-size: 16px;
    color: #212529;
}
.recommend_date{
    font-size: 14px;
    color: #707070;
    padding-top: 25px;
    padding-left: 16px;
}
@media (max-width:768px){
    .recommend {
        h2{
            font-size: 32px;
            padding-top: 40px;
            padding-bottom: 32px;
        }
        padding-bottom: 24px;
        ul{
            flex-wrap: wrap;
            li{
                width: 330px;
                margin-bottom: 32px;}
        }   
    }
    .recommend_content{
        height: 140px;
        padding: 24px;
    }
}
@media (max-width:376px){
    .recommend {
        h2{
            font-size: 20px;
            padding-top: 32px;
            padding-bottom: 20px;
        }
        ul li{
            margin-bottom: 16px;
        }
    }
}

/*-------------------------------------------------------*/

.connection{
    background-color: #AA06010D;
    height: 894px;
}
.connection_content{
    width: 730px;
    margin: 0 auto;
    h2{
        font-size: 48px;
        font-weight: bold;
        text-align: center;
    }
    p{
        font-size: 20px;
    }
}
label{
    font-size: 16px;
}
.pb2 input{
    outline-style: none;
    border-radius: 5px;
    height: 50px;
    width: 730px;
    background-color: #AA06010D;
}
.opinion input{
    height: 136px;
}
.privacy_li{
    font-size: 16px;
}
.btn button{
    width: 350px;
    height: 54px;
    text-align: center;
    background-color: $primary_color;
    color: $white_color;
    margin-top: 40px;
    margin-bottom: 80px;
    text-align: center;
}
.btn{
    text-align: center;
}
@media (max-width:768px){
    .connection{
        height: 688px;
    }
    .connection_content{
        width: 450px;
        h2{
            font-size: 32px;
            padding-top: 40px;
            padding-bottom: 24px;
        }
        p{
            font-size: 16px;
        }
        form ul li{
            font-size: 14px;
            padding-bottom: 8px;
        }
    }
    .pb2 input{
        width: 450px;
        height: 36px;
    }
    .opinion input{
        height: 100px;
    }
    .btn button{
        width: 210px;
        height: 40px;
        margin-top: 20px;
        margin-bottom: 56px; 
    }
}

@media (max-width:376px){
    .connection{
        height: 633px;
    }
    .connection_content{
        width: 345px;
        h2{
            font-size: 20px;
            padding-top: 30px;
            padding-bottom: 20px;
        }
        p{
            padding-bottom: 8px;
        }
    }
    .pb2 input{
        width: 345px;
    }
    .btn button{
        width: 165px;
        height: 36px;
        margin-top: 12px;
        margin-bottom: 37px; 
    }
    
}