/*------------header------------------*/
.header{
    width: 100%;
    background-color: $primary_color;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 88px;
    ul{
        display: flex; 
        font-size: 20px; 
    }
    a:hover{
        color:$white_color; 
        font-size: 22px; 
    }
    a:visited{
        color:$white_color;   
    }
    a:link{
        color:$white_color;   
    }
}
@media(max-width:768px){
    .header{
        padding: 30px 40px;
        ul li a{
            padding-left: 40px;
        }
    }
}
@media(max-width:376px){
    .header{
        flex-direction: column;
        border: 1px solid $white_color;
        padding: 0px  0px ;
        img{
            width: 48px;
            padding-top: 10px;
            padding-bottom: 10px;
        }
        ul{
            flex-wrap: wrap;
            justify-content: center;
        }
        ul li{
            height: 45px;
            width: 186.5px;
            display: flex;
            justify-content: center;
            align-items: center;
            border: 1px solid $white_color;
        }
        ul li a{
            padding-left: 0px;
        }
    }
}


/*------------footer------------------*/

.footer{
    background-color: $primary_color;
    height: 332px;
    .footer_title{
        width: 1110px;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        padding-top: 32px;
        padding-bottom: 24px;
    }
    .footer_title_lest{
        display: flex;
        font-size: 16px;
        a:hover{color:$white_color};
        a:visited{color:$white_color};
        a:link{color:$white_color};
    }
    .footer_title_software{
        display: flex;
    }
}
@media (max-width:768px){
    .footer{
        height: 241px;
        .footer_title{
            width:690px;
            padding-bottom: 18px;
        }
        .footer_title_lest{
            align-items: center;
            li{
                padding-left: 20px;
                padding-right: 20px;
            }
        }
        .footer_title_software{
            li{
                img{
                    width: 24px;
                }
                padding-left: 12px;
                padding-right: 12px;
            }
        }
    }
}
@media (max-width:376px){
    .footer{
        height: 212px;
        .footer_width_s{
            display: flex;
            flex-direction: row-reverse;
            padding-top: 25px;
            padding-left: 16px;
        }
        
        .footer_title{
            padding-top: 0px;
            padding-bottom: 0px;
            .footer_title_software{
                margin: 0px;
            }
        }
        .footer_title_lest{
            display: none;
        }
    }
}


.footer_connection{
    width: 1110px;
    margin: 0 auto;
    padding-bottom: 24px;
    margin-bottom: 32px;
    border-bottom: 1px solid $white_color;
    ul li{
        display: flex;
        font-size: 36px;
    }
    a:hover{color:$white_color;}
    a:visited{color:$white_color;}
    a:link{color:$white_color;}
}
.footer_btm{
    width: 1110px;
    margin: 0 auto;
    color:$white_color;
    display: flex;
    justify-content: space-between;
    p{
        font-size: 16px;
    }
    ul{
        display: flex;
        font-size: 14px;
    }
}
@media (max-width:768px){
    .footer_connection{
        width:690px;
        padding-bottom: 20px;
        margin-bottom: 24px;
        ul li{
            font-size: 20px;
            img{
                width: 50px;
            }
        }
    }
    .footer_btm{
        width:690px;
        
    }
}
@media (max-width:376px){
    .footer_connection{
        border-bottom: 0px;
        width:344.5px;
        padding-bottom: 0px;
        margin-bottom: 0px;
        padding-right: 50px;
        ul li{
            font-size: 16px;
            img{
                padding-right: 0px;
                margin-right: 6px;
                width: 15px;
            }
        }
    }
    .footer_btm{
        p{
            margin-bottom: 8px;
        }
        border-top: 1px solid $white_color;
        padding-top: 16px;
        margin-top: 24px;
        width:344.5px;
        flex-wrap: wrap;
        flex-direction: column;
        ul{
            li{
                margin-bottom: 8px;
            }
            flex-wrap: wrap;
            flex-direction: column;
            margin-bottom: 8px;
            
        }
    }
}