*,*:before,*:after{box-sizing: border-box;}
img{max-width: 100%;height: auto;display:block}
a{text-decoration: none;}

$primary_color: #AA0601;
$white_color: #FFFFFF;






.pl1{padding-left: 8px;}
.pr3{padding-right: 24px;}
.pr4{padding-right: 30px;}
.pr6{padding-right: 48px;}
.pl4{padding-left: 32px;}
.pl8{padding-left: 64px;}
.pt7{padding-top: 60px;}
.pb2{padding-bottom: 16px;}
.pb3{padding-bottom: 24px;}
.pb4{padding-bottom: 32px;}
.pb5{padding-bottom: 40px;}
.pb10{padding-bottom: 80px;}